@model IEnumerable<Category>

@{
}
<h1>Buy some Delicious Baked Goods</h1>

<ul>
    @foreach (var category in Model)
    {
        <li>
            <a asp-action="ByCategory" asp-route-id="@category.CategoryId">
                @category.Name
            </a>        
        </li>
    }
</ul>