html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.btn-primary, .badge-primary {
    background-color: #007396;
}

    .btn-primary:hover {
        background-color: #0BB0E3;
    }

a {
    color:#964D04;
}

table.sortable th:hover {
    cursor: pointer;
}

.thumb {
    width: 100px;
}

.input-small {
    width: 70px;
}

