@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Get Baked!</h1>
    <p>You can buy baked goods anywhere.  They're just not as good.</p>
    <a asp-controller="Shop" asp-action="Index" class="btn btn-primary">
        Shop Now!
    </a>
</div>
